## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [2]:
application_df["SPECIAL_CONSIDERATIONS"].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [3]:
application_df.columns

Index(['EIN', 'NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [4]:
application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
affiliation_types_to_replace = ["Family/Parent", "National", "Regional"]

# Replace in dataframe
for app in affiliation_types_to_replace:
    application_df['AFFILIATION'] = application_df['AFFILIATION'].replace(app,"Other")

# Check to make sure binning was successful
application_df['AFFILIATION'].value_counts()

Independent         18480
CompanySponsored    15705
Other                 114
Name: AFFILIATION, dtype: int64

In [6]:
application_df['USE_CASE'].value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
use_case_types_to_replace = ["CommunityServ", "Heathcare"]

# Replace in dataframe
for app in use_case_types_to_replace:
    application_df['USE_CASE'] = application_df['USE_CASE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['USE_CASE'].value_counts()

Preservation    28095
ProductDev       5671
Other             533
Name: USE_CASE, dtype: int64

In [8]:
application_df['ORGANIZATION'].value_counts()

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
organization_types_to_replace = ["Co-operative", "Corporation"]

# Replace in dataframe
for app in organization_types_to_replace:
    application_df['ORGANIZATION'] = application_df['ORGANIZATION'].replace(app,"Other")

# Check to make sure binning was successful
application_df['ORGANIZATION'].value_counts()

Trust          23515
Association    10255
Other            529
Name: ORGANIZATION, dtype: int64

In [10]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME","STATUS","SPECIAL_CONSIDERATIONS"])

In [11]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Other,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Other,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Other,1M-5M,36500179,0

In [12]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            3
CLASSIFICATION        71
USE_CASE               3
ORGANIZATION           3
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [13]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [14]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ["T25", "T14", "T29", "T15", "T17"]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [15]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [16]:
# You may find it helpful to look at CLASSIFICATION value counts >1
count = application_df['CLASSIFICATION'].value_counts()
count[count>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [17]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ["C7120","C1500",
                              "C1800","C6000","C1250","C8200","C1238","C1278","C1235","C1237","C7210",
                              "C2400","C1720","C4100","C1257","C1600","C1260","C2710","C0","C3200",
                              "C1234","C1246","C1267","C1256","C1370","C1236","C2190","C4200","C5200",
                              "C1248","C2600","C1580","C6100","C1820","C1900","C2570","C1283","C1570",
                              "C3700","C2500","C1283 ","C2380","C1732","C1728","C2170","C4120","C8210",
                              "C4500","C1245","C2561","C2150"]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
Other      207
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
Name: CLASSIFICATION, dtype: int64

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
dummies_df

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,36500179,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [19]:
# Split our preprocessed data into our features and target arrays
X = dummies_df.drop(columns=["IS_SUCCESSFUL"]).values
y = dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=40)

In [20]:
X.shape

(34299, 54)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=150, activation="relu", input_dim=54))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation="tanh"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation="tanh"))

# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 150)               8250

 dense_1 (Dense)             (None, 100)               15100

 dense_2 (Dense)             (None, 100)               10100

 dense_3 (Dense)             (None, 100)               10100

 dense_4 (Dense)             (None, 100)               10100

 dense_5 (Dense)             (None, 1)                 101

=================================================================
Total params: 53,751
Trainable params: 53,751
Non-trainable params: 0
_________________________________________________________________

In [23]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
## NEED HELP
from keras.callbacks import ModelCheckpoint
checkpoint = ModelCheckpoint("weights.h5", monitor='loss', verbose=1,
    save_weights_only=True, mode='auto', save_freq=5)

In [25]:
## Incorrect?
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 1s 972us/step - loss: 0.5723 - accuracy: 0.7181
Epoch 2/150
804/804 [==============================] - 1s 960us/step - loss: 0.5580 - accuracy: 0.7270
Epoch 3/150
804/804 [==============================] - 1s 968us/step - loss: 0.5554 - accuracy: 0.7265
Epoch 4/150
804/804 [==============================] - 1s 975us/step - loss: 0.5532 - accuracy: 0.7293
Epoch 5/150
804/804 [==============================] - 1s 939us/step - loss: 0.5517 - accuracy: 0.7310
Epoch 6/150
804/804 [==============================] - 1s 948us/step - loss: 0.5503 - accuracy: 0.7314
Epoch 7/150
804/804 [==============================] - 1s 928us/step - loss: 0.5493 - accuracy: 0.7300
Epoch 8/150
804/804 [==============================] - 1s 939us/step - loss: 0.5478 - accuracy: 0.7311
Epoch 9/150
804/804 [==============================] - 1s 941us/step - loss: 0.5472 - accuracy: 0.7301
Epoch 10/150
804/804 [==============================] - 1s 947us/step - loss: 0.5457 - accuracy: 0.7307
Epoch 11/150
804/804 [==============================] - 1s 938us/step - loss: 0.5474 - accuracy: 0.7311
Epoch 12/150
804/804 [==============================] - 1s 938us/step - loss: 0.5456 - accuracy: 0.7311
Epoch 13/150
804/804 [==============================] - 1s 953us/step - loss: 0.5448 - accuracy: 0.7341
Epoch 14/150
804/804 [==============================] - 1s 959us/step - loss: 0.5440 - accuracy: 0.7329
Epoch 15/150
804/804 [==============================] - 1s 953us/step - loss: 0.5431 - accuracy: 0.7339
Epoch 16/150
804/804 [==============================] - 1s 960us/step - loss: 0.5432 - accuracy: 0.7334
Epoch 17/150
804/804 [==============================] - 1s 969us/step - loss: 0.5422 - accuracy: 0.7344
Epoch 18/150
804/804 [==============================] - 1s 993us/step - loss: 0.5432 - accuracy: 0.7334
Epoch 19/150
804/804 [==============================] - 1s 958us/step - loss: 0.5407 - accuracy: 0.7348
Epoch 20/150
804/804 [==============================] - 1s 958us/step - loss: 0.5425 - accuracy: 0.7326
Epoch 21/150
804/804 [==============================] - 1s 952us/step - loss: 0.5410 - accuracy: 0.7336
Epoch 22/150
804/804 [==============================] - 1s 937us/step - loss: 0.5410 - accuracy: 0.7344
Epoch 23/150
804/804 [==============================] - 1s 931us/step - loss: 0.5401 - accuracy: 0.7341
Epoch 24/150
804/804 [==============================] - 1s 948us/step - loss: 0.5403 - accuracy: 0.7366
Epoch 25/150
804/804 [==============================] - 1s 958us/step - loss: 0.5397 - accuracy: 0.7379
Epoch 26/150
804/804 [==============================] - 1s 939us/step - loss: 0.5403 - accuracy: 0.7353
Epoch 27/150
804/804 [==============================] - 1s 940us/step - loss: 0.5392 - accuracy: 0.7374
Epoch 28/150
804/804 [==============================] - 1s 962us/step - loss: 0.5386 - accuracy: 0.7350
Epoch 29/150
804/804 [==============================] - 1s 951us/step - loss: 0.5393 - accuracy: 0.7358
Epoch 30/150
804/804 [==============================] - 1s 967us/step - loss: 0.5382 - accuracy: 0.7357
Epoch 31/150
804/804 [==============================] - 1s 961us/step - loss: 0.5383 - accuracy: 0.7358
Epoch 32/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7373
Epoch 33/150
804/804 [==============================] - 1s 995us/step - loss: 0.5379 - accuracy: 0.7361
Epoch 34/150
804/804 [==============================] - 1s 994us/step - loss: 0.5368 - accuracy: 0.7362
Epoch 35/150
804/804 [==============================] - 1s 997us/step - loss: 0.5369 - accuracy: 0.7371
Epoch 36/150
804/804 [==============================] - 1s 999us/step - loss: 0.5375 - accuracy: 0.7368
Epoch 37/150
804/804 [==============================] - 1s 992us/step - loss: 0.5368 - accuracy: 0.7371
Epoch 38/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7376
Epoch 39/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7384
Epoch 40/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7357
Epoch 41/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7359
Epoch 42/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7372
Epoch 43/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7375
Epoch 44/150
804/804 [==============================] - 1s 999us/step - loss: 0.5372 - accuracy: 0.7369
Epoch 45/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7377
Epoch 46/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7368
Epoch 47/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7369
Epoch 48/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7372
Epoch 49/150
804/804 [==============================] - 1s 992us/step - loss: 0.5354 - accuracy: 0.7378
Epoch 50/150
804/804 [==============================] - 1s 997us/step - loss: 0.5353 - accuracy: 0.7400
Epoch 51/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7388
Epoch 52/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7382
Epoch 53/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7381
Epoch 54/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7374
Epoch 55/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7372
Epoch 56/150
804/804 [==============================] - 1s 992us/step - loss: 0.5349 - accuracy: 0.7391
Epoch 57/150
804/804 [==============================] - 1s 975us/step - loss: 0.5351 - accuracy: 0.7383
Epoch 58/150
804/804 [==============================] - 1s 984us/step - loss: 0.5349 - accuracy: 0.7367
Epoch 59/150
804/804 [==============================] - 1s 962us/step - loss: 0.5359 - accuracy: 0.7386
Epoch 60/150
804/804 [==============================] - 1s 947us/step - loss: 0.5352 - accuracy: 0.7384
Epoch 61/150
804/804 [==============================] - 1s 959us/step - loss: 0.5345 - accuracy: 0.7387
Epoch 62/150
804/804 [==============================] - 1s 978us/step - loss: 0.5345 - accuracy: 0.7399
Epoch 63/150
804/804 [==============================] - 1s 973us/step - loss: 0.5350 - accuracy: 0.7388
Epoch 64/150
804/804 [==============================] - 1s 952us/step - loss: 0.5353 - accuracy: 0.7388
Epoch 65/150
804/804 [==============================] - 1s 958us/step - loss: 0.5344 - accuracy: 0.7394
Epoch 66/150
804/804 [==============================] - 1s 958us/step - loss: 0.5334 - accuracy: 0.7389
Epoch 67/150
804/804 [==============================] - 1s 967us/step - loss: 0.5341 - accuracy: 0.7395
Epoch 68/150
804/804 [==============================] - 1s 954us/step - loss: 0.5340 - accuracy: 0.7384
Epoch 69/150
804/804 [==============================] - 1s 973us/step - loss: 0.5338 - accuracy: 0.7383
Epoch 70/150
804/804 [==============================] - 1s 961us/step - loss: 0.5342 - accuracy: 0.7390
Epoch 71/150
804/804 [==============================] - 1s 945us/step - loss: 0.5364 - accuracy: 0.7370
Epoch 72/150
804/804 [==============================] - 1s 943us/step - loss: 0.5342 - accuracy: 0.7399
Epoch 73/150
804/804 [==============================] - 1s 956us/step - loss: 0.5341 - accuracy: 0.7386
Epoch 74/150
804/804 [==============================] - 1s 976us/step - loss: 0.5343 - accuracy: 0.7392
Epoch 75/150
804/804 [==============================] - 1s 965us/step - loss: 0.5345 - accuracy: 0.7392
Epoch 76/150
804/804 [==============================] - 1s 955us/step - loss: 0.5354 - accuracy: 0.7379
Epoch 77/150
804/804 [==============================] - 1s 951us/step - loss: 0.5334 - accuracy: 0.7409
Epoch 78/150
804/804 [==============================] - 1s 951us/step - loss: 0.5340 - accuracy: 0.7399
Epoch 79/150
804/804 [==============================] - 1s 977us/step - loss: 0.5339 - accuracy: 0.7399
Epoch 80/150

804/804 [==============================] - 1s 955us/step - loss: 0.5334 - accuracy: 0.7395
Epoch 81/150
804/804 [==============================] - 1s 959us/step - loss: 0.5328 - accuracy: 0.7411
Epoch 82/150
804/804 [==============================] - 1s 974us/step - loss: 0.5329 - accuracy: 0.7388
Epoch 83/150
804/804 [==============================] - 1s 958us/step - loss: 0.5342 - accuracy: 0.7394
Epoch 84/150
804/804 [==============================] - 1s 938us/step - loss: 0.5337 - accuracy: 0.7397
Epoch 85/150
804/804 [==============================] - 1s 938us/step - loss: 0.5344 - accuracy: 0.7394
Epoch 86/150
804/804 [==============================] - 1s 948us/step - loss: 0.5334 - accuracy: 0.7391
Epoch 87/150
804/804 [==============================] - 1s 964us/step - loss: 0.5328 - accuracy: 0.7393
Epoch 88/150
804/804 [==============================] - 1s 955us/step - loss: 0.5331 - accuracy: 0.7399
Epoch 89/150
804/804 [==============================] - 1s 951us/step - loss: 0.5338 - accuracy: 0.7393
Epoch 90/150
804/804 [==============================] - 1s 965us/step - loss: 0.5345 - accuracy: 0.7381
Epoch 91/150
804/804 [==============================] - 1s 972us/step - loss: 0.5339 - accuracy: 0.7387
Epoch 92/150
804/804 [==============================] - 1s 956us/step - loss: 0.5345 - accuracy: 0.7392
Epoch 93/150
804/804 [==============================] - 1s 965us/step - loss: 0.5335 - accuracy: 0.7392
Epoch 94/150
804/804 [==============================] - 1s 961us/step - loss: 0.5341 - accuracy: 0.7392
Epoch 95/150
804/804 [==============================] - 1s 962us/step - loss: 0.5345 - accuracy: 0.7394
Epoch 96/150
804/804 [==============================] - 1s 963us/step - loss: 0.5344 - accuracy: 0.7412
Epoch 97/150
804/804 [==============================] - 1s 959us/step - loss: 0.5332 - accuracy: 0.7409
Epoch 98/150
804/804 [==============================] - 1s 961us/step - loss: 0.5333 - accuracy: 0.7394
Epoch 99/150
804/804 [==============================] - 1s 942us/step - loss: 0.5332 - accuracy: 0.7406
Epoch 100/150
804/804 [==============================] - 1s 955us/step - loss: 0.5333 - accuracy: 0.7397
Epoch 101/150
804/804 [==============================] - 1s 949us/step - loss: 0.5335 - accuracy: 0.7390
Epoch 102/150
804/804 [==============================] - 1s 955us/step - loss: 0.5338 - accuracy: 0.7398
Epoch 103/150
804/804 [==============================] - 1s 944us/step - loss: 0.5337 - accuracy: 0.7390
Epoch 104/150
804/804 [==============================] - 1s 956us/step - loss: 0.5328 - accuracy: 0.7408
Epoch 105/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7392
Epoch 106/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7393
Epoch 107/150
804/804 [==============================] - 1s 956us/step - loss: 0.5355 - accuracy: 0.7379
Epoch 108/150
804/804 [==============================] - 1s 914us/step - loss: 0.5343 - accuracy: 0.7399
Epoch 109/150
804/804 [==============================] - 1s 923us/step - loss: 0.5341 - accuracy: 0.7397
Epoch 110/150
804/804 [==============================] - 1s 953us/step - loss: 0.5343 - accuracy: 0.7392
Epoch 111/150
804/804 [==============================] - 1s 942us/step - loss: 0.5338 - accuracy: 0.7378
Epoch 112/150
804/804 [==============================] - 1s 954us/step - loss: 0.5327 - accuracy: 0.7396
Epoch 113/150
804/804 [==============================] - 1s 957us/step - loss: 0.5326 - accuracy: 0.7391
Epoch 114/150
804/804 [==============================] - 1s 934us/step - loss: 0.5318 - accuracy: 0.7396
Epoch 115/150
804/804 [==============================] - 1s 931us/step - loss: 0.5321 - accuracy: 0.7392
Epoch 116/150
804/804 [==============================] - 1s 953us/step - loss: 0.5327 - accuracy: 0.7393
Epoch 117/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7376
Epoch 118/150
804/804 [==============================] - 1s 962us/step - loss: 0.5338 - accuracy: 0.7398
Epoch 119/150
804/804 [==============================] - 1s 958us/step - loss: 0.5341 - accuracy: 0.7387
Epoch 120/150
804/804 [==============================] - 1s 951us/step - loss: 0.5333 - accuracy: 0.7385
Epoch 121/150
804/804 [==============================] - 1s 949us/step - loss: 0.5333 - accuracy: 0.7405
Epoch 122/150
804/804 [==============================] - 1s 970us/step - loss: 0.5330 - accuracy: 0.7409
Epoch 123/150
804/804 [==============================] - 1s 963us/step - loss: 0.5331 - accuracy: 0.7402
Epoch 124/150
804/804 [==============================] - 1s 945us/step - loss: 0.5336 - accuracy: 0.7391
Epoch 125/150
804/804 [==============================] - 1s 962us/step - loss: 0.5332 - accuracy: 0.7397
Epoch 126/150
804/804 [==============================] - 1s 960us/step - loss: 0.5328 - accuracy: 0.7397
Epoch 127/150
804/804 [==============================] - 1s 980us/step - loss: 0.5330 - accuracy: 0.7407
Epoch 128/150
804/804 [==============================] - 1s 981us/step - loss: 0.5338 - accuracy: 0.7389
Epoch 129/150
804/804 [==============================] - 1s 950us/step - loss: 0.5341 - accuracy: 0.7376
Epoch 130/150
804/804 [==============================] - 1s 938us/step - loss: 0.5339 - accuracy: 0.7375
Epoch 131/150
804/804 [==============================] - 1s 939us/step - loss: 0.5335 - accuracy: 0.7391
Epoch 132/150
804/804 [==============================] - 1s 953us/step - loss: 0.5325 - accuracy: 0.7409
Epoch 133/150
804/804 [==============================] - 1s 968us/step - loss: 0.5335 - accuracy: 0.7385
Epoch 134/150
804/804 [==============================] - 1s 980us/step - loss: 0.5331 - accuracy: 0.7399
Epoch 135/150
804/804 [==============================] - 1s 948us/step - loss: 0.5333 - accuracy: 0.7400
Epoch 136/150
804/804 [==============================] - 1s 956us/step - loss: 0.5331 - accuracy: 0.7403
Epoch 137/150
804/804 [==============================] - 1s 940us/step - loss: 0.5331 - accuracy: 0.7393
Epoch 138/150
804/804 [==============================] - 1s 926us/step - loss: 0.5331 - accuracy: 0.7395
Epoch 139/150
804/804 [==============================] - 1s 955us/step - loss: 0.5341 - accuracy: 0.7378
Epoch 140/150
804/804 [==============================] - 1s 983us/step - loss: 0.5332 - accuracy: 0.7396
Epoch 141/150
804/804 [==============================] - 1s 992us/step - loss: 0.5323 - accuracy: 0.7397
Epoch 142/150
804/804 [==============================] - 1s 976us/step - loss: 0.5323 - accuracy: 0.7400
Epoch 143/150
804/804 [==============================] - 1s 996us/step - loss: 0.5345 - accuracy: 0.7375
Epoch 144/150
804/804 [==============================] - 1s 956us/step - loss: 0.5334 - accuracy: 0.7382
Epoch 145/150
804/804 [==============================] - 1s 952us/step - loss: 0.5342 - accuracy: 0.7396
Epoch 146/150
804/804 [==============================] - 1s 958us/step - loss: 0.5339 - accuracy: 0.7390
Epoch 147/150
804/804 [==============================] - 1s 945us/step - loss: 0.5344 - accuracy: 0.7379
Epoch 148/150
804/804 [==============================] - 1s 918us/step - loss: 0.5331 - accuracy: 0.7372
Epoch 149/150
804/804 [==============================] - 1s 913us/step - loss: 0.5322 - accuracy: 0.7408
Epoch 150/150
804/804 [==============================] - 1s 931us/step - loss: 0.5328 - accuracy: 0.7399

In [26]:
# DOESN'T MATCH
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5572 - accuracy: 0.7343 - 246ms/epoch - 918us/step
Loss: 0.5571534633636475, Accuracy: 0.7343440055847168

In [27]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization3.h5")

In [28]:
# # Download the HDF5 file
from google.colab import files
files.download("AlphabetSoupCharity_Optimization3.h5")